<h1>Список сообщений </h1>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<table>

  <% @messages.each do |message| %>
    <tr class="list_line">
    <td class="list_email">
      <dl>
        <dt><%= message.email %></dt>
      </dl>
    </td>


    <td class="list_actions">
      <%= link_to 'Show', message %><br/>
      <%= link_to 'Edit', edit_message_path(message) %><br/>
      <%= link_to 'Destroy', message, method: :delete,
       data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
    <% end %>

</table>

<%= link_to 'Создать новое сообщение', new_message_path %>

<br />



<% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.email %></span>
    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
<% end %>
